html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;

}

body {
  font-size: 20px;
  line-height: 1.5;
  color: $dark;
  @extend %rubik-400;
  background-color: $silver-100;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.main {
  flex-grow: 1;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding-bottom: 120px;
}

.btn {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.5;
  background-color: $orange-900;
  border-radius: 6px;
  padding: 12px 32px;
  transition: all 0.3s;

  &:hover {
    color: $orange-900;
    background-color: #ffffff;
    outline: 2px solid rgba(255, 104, 56, 0.7);
  }

  &:focus {
    color: $orange-900;
    background-color: rgba(255, 122, 80, 0.1);
    outline: 2px solid rgba(255, 104, 56, 0.7);
  }

  &:active {
    color: $orange-900;
    background-color: rgba(255, 122, 80, 0.1);
  }
}

.btn-more {
  font-size: 20px;
  color: $darkBlue-900;
  border-bottom: 1px solid $darkBlue-900;
  transition: all 0.3s;

  &:hover {
    color: $orange-900;
    border: none;
  }

  &:focus {
    outline: 2px solid rgba(255, 104, 56, 0.7);
    border-radius: 5px;
  }

  &:active {
    border: none;
    text-shadow: 2px 2px 5px rgba(49, 53, 43, 0.5);
  }
}

.title {
  font-size: 36px;
  line-height: 1.3;
  color: $darkBlue-900;
  @extend %rubik-500;
}