html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

input,
textarea,
label,
img {
  display: block;
}

input,
button,
textarea,
select,
address {
  font: inherit;
}

a {
  text-decoration: none;
  outline: transparent;
  color: inherit;
}

button {
  background-color: transparent;
  outline: transparent;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
}